<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="card custom-card">
                    <div class="card-header">
                        <h5 class="mb-0 text-center">
                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                <b>
                                    <h3 style="color: aliceblue;">FAQ</h3>
                                </b>
                            </a>
                        </h5>
                    </div>


                    <div class="accordion-item">
                        <div class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <strong>How do I issue a book?</strong>
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                To issue a book, simply log in to your account, search for the book you want, and click on the 'issue' button at book reports.
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>How many books can I issue at once?</strong>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                You can issue up to 2 books simultaneously from our library.
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <strong>How do I return a issue book?</strong>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                You can return a issue book online by logging into your account, going to your issued books, and clicking on the 'Return Book' button next to the book you want to return.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingfour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                <strong>Can I issue books if I am not a member of the library?</strong>
                            </button>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                In most cases, you need to be a member of the library to issue books.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingfive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <strong>How do I become a member of the library?</strong>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                To become a member, visit the library's website or location and fill out a registration form. You may need to provide your details.
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingsix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                <strong>What information do I need to provide during registration?</strong>
                            </button>
                        </h2>
                        <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                During registration, you typically need to provide your full name, email address, DOB, password, contact number and gender.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingseven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                <strong>How do I log in to my library account?</strong>
                            </button>
                        </h2>
                        <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                To log in, enter your registered loginId and password on the library app's login page. Click on the 'Login' or 'Sign In' button to access your account.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingeight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                <strong>What should I do if I forget my password?</strong>
                            </button>
                        </h2>
                        <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                If you forget your password, you can usually click on the 'Forgot Password' or 'Reset Password' link on the login page. Follow the instructions to reset your password, which involve password hint and password hint answer you entered at registration time.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingnine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                <strong>Is my personal information secure?</strong>
                            </button>
                        </h2>
                        <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, libraries take data security seriously and implement measures to protect your personal information. Ensure you use strong passwords and avoid sharing your account details with others.
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
        </div>
    </div>
</div>


<style>
    .custom-card {
        border: 1px solid #dee2e6;
        background-color: #17a2b8;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }

    .accordion-header {
        cursor: pointer;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .accordion-body {
        padding: 10px 20px;
        border: 1px solid #ced4da;
        border-top: none;
        background-color: #f8f9fa;
        border-radius: 0 0 5px 5px;
    }

</style>





