@using CivicaBookLibraryMVC.ViewModels
@model BookIssueViewModel


<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-8">
            <div class="card custom-card">
                <h5 class="card-header text-center"><b>Issue Book</b></h5>
                <div class="card-body">
                    <form asp-action="BookIssue" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <input type="hidden" asp-for="UserId" />
                        <div class="form-group">
                            <b><label asp-for="BookId" class="control-label"></label></b>
                            <select id="countryDropdown" asp-for="BookId" class="form-control" asp-items="@(new SelectList(Model.Books, "BookId", "Title"))">
                                <option value="">--Select Book--</option>
                            </select>
                            <span asp-validation-for="BookId" class="text-danger"></span>
                        </div>
                        <br />
                        <!-- Add more form fields as needed -->

                        <div class="d-grid gap-2">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Submit</button> &nbsp;
                                <a class="btn btn-outline-danger" asp-controller="Report" asp-action="ShowUserBookReport"><b>Cancel</b></a>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .custom-card {
        max-width: 500px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-family: sans-serif;
        margin-top: 100px;
    }

        .custom-card .card-header {
            background-color: #009ca6;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: none;
        }

        .custom-card .card-body {
            padding: 20px;
        }

        .custom-card form {
            margin-bottom: 0;
        }

        .custom-card .btn-primary {
            width: 100%;
            background-color: #009ca6;
            color: white;
        }

        .custom-card .btn-outline-danger {
            width: 100%;
            border-color: #DDDDDD;
            background-color: #DDDDDD;
            color: black;
        }
</style>
